<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href='../css/style.css'>
<meta charset="ISO-8859-1">
<title>Project JPA</title>
</head>
<body>
<nav th:insert= "~{fragments/navigation :: block-navigation('Elenco Attivita')}"></nav>

<div>
	   <a th:href="@{/admin/createNewAttivita}">Create Attivita</a>
	</div>

<div>
		<table align=center>
			<thead>
				<tr>
					<th>Nome Attivita</th>
					<th>Azione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="attivita : ${listAll.dati}">
					<td th:text="${attivita.descrizione}"></td>
					
					<td>
					 <a th:href = "@{/admin/deleteAttivita(attID=${attivita.id})}">Delete</a>
					 </td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>